<%= form_for(@scheduler_type) do |f| %>
  <% if @scheduler_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scheduler_type.errors.count, "error") %> prohibited this scheduler_type from being saved:</h2>

      <ul>
      <% @scheduler_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :scheduler_name %><br>
    <%= f.text_field :scheduler_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
