<p id="notice"><%= notice %></p>

<p>
  <strong>Collection name:</strong>
  <%= @source_social.collection_name %>
</p>

<p>
  <strong>Fb like page:</strong>
  <%= @source_social.fb_like_page_id %>
</p>

<p>
  <strong>Access token:</strong>
  <%= @source_social.access_token %>
</p>

<p>
  <strong>Fb feed limit:</strong>
  <%= @source_social.fb_feed_limit %>
</p>

<p>
  <strong>Consumer key:</strong>
  <%= @source_social.consumer_key %>
</p>

<p>
  <strong>Consumer secret:</strong>
  <%= @source_social.consumer_secret %>
</p>

<p>
  <strong>Access secret:</strong>
  <%= @source_social.access_secret %>
</p>

<p>
  <strong>Geo lat:</strong>
  <%= @source_social.geo_lat %>
</p>

<p>
  <strong>Geo lon:</strong>
  <%= @source_social.geo_lon %>
</p>

<p>
  <strong>Twitter hastags:</strong>
  <%= @source_social.twitter_hastags %>
</p>

<p>
  <strong>Instagram start time:</strong>
  <%= @source_social.instagram_start_time %>
</p>

<p>
  <strong>Instagram end time:</strong>
  <%= @source_social.instagram_end_time %>
</p>

<p>
  <strong>Instagram tags:</strong>
  <%= @source_social.instagram_tags %>
</p>

<p>
  <strong>Project:</strong>
  <%= @source_social.project %>
</p>

<p>
  <strong>Channel:</strong>
  <%= @source_social.channel %>
</p>

<%= link_to 'Edit', edit_source_social_path(@source_social) %> |
<%= link_to 'Back', source_socials_path %>
